include layout
body
	div.container(id="upload")
		h1 Hey there, your username is 
			span= name
		form(action="/upload", method="post", enctype="multipart/form-data")
			h2 Upload
			p.wrong= wrongFile
			input(type='file', name='photoFile')
			- var btnClass = ['btn', 'btn-large', 'btn-primary']
			button(class=btnClass, type='submit') Upload
