	header
		nav(class='navbar navbar-default navbar-customize' role='navigation')
			div.navbar-block
				div.navbar-header
					-var ulClass = ['nav', 'nav-pills']
					ul(class=ulClass)
						li
							button(class='btn-home', type='button')
								h2=title
									a(href='/')