body {
	font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image:url('../backgrounds/5.jpg');
	background-color: #f3f5f4;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -10;
}

.wrong {
	color: red;
}

a {
	color: #00B7FF;
}

h4 {
	text-align: center;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	background-color: rgba(220, 220, 220, 0.50);
	padding: 1.2em;
}

.navbar-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.btn-home{
	border: none;
	outline: none;
	background: transparent;
}

.btn-home:hover, .btn-home:active{
	outline: none;
	background-color: rgba(0, 0, 0, 0.70);
}

.navbar-customize{
	background-color: rgba(220, 220, 220, 0.50);
}
