body {
  font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrong {
	color: red;
}

a {
  color: #00B7FF;
}

h4 {
	text-align: center;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.navbar-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}


.btn-home{
	border: none;
	outline: none;
	background: transparent;
}

.btn-home:hover{
	background: green;
}

.btn-home:active{
	outline: none;
	background: mediumpurple;
}

.navbar-customize{
	background:slategray;
}